 <span class="left">Briesestr 9, Neukölln, Berlin. U7 Karl Marx Str. <b>Rag & Bone Man</b> © <%= Date.today.strftime("%Y") %>.</span>
	<span class="right">
	  Developed by <%= link_to "Feature Rich Ltd","http://www.featurerich.net" %>
</span>