	<span class="left"><b>Rag & Bone Man</b> © <%= Date.today.strftime("%Y") %>.
	  <address>Briesestr 9, Neukölln, Berlin <br/> U7 Karl Marx Str.</address>
	  Developed by <%= link_to "Feature Rich Ltd","http://www.featurerich.net" %>
	</span>