	<span class="right">Rag & Bone Man © <%= Date.today.strftime("%Y") %>.
	  <address>Briesestr 9, Neukölln, Berlin - U7 Karl Marx Str.</address>
	  Developed by <%= link_to "Feature Rich Ltd","http://www.featurerich.net" %>
	</span>