<div id="postscontainer" class="grids main">
<h1><%= @page.title %></h1>

<div class="fb-like" data-href="<%= request.url %>" data-send="false" data-show-faces="false" data-colorscheme="light" ></div> 
<% unless @page.name =="home" %>

<%=  @page.body.html_safe %>
<% end %>
<% if  @page.name =="home" %>
		<div id="posts" class="holder">
			<%= render :partial => @posts %>
		</div>
<% end %>

	<% content_for(:script) do %>
		<script>
		$(function(){

			var $container = $('#posts');
			$container.imagesLoaded( function(){
				$container.masonry({
				// options
				  itemSelector : '.post',
						columnWidth : 235
				});	
			});		  
		});
		</script>
	<% end %>

</div>

