<div class="post">
	<%= link_to(image_tag(post.albums.first.uploads.first.image_url(:thumb)), news_path(post),:class=>"post-link" ) %>
	<div class="info-block">
		<span><%= post.title %></span>
	</div>
	<div class="info-block">
		<span><%=  post.category.parent.title + " - " + post.category.title %></span>
	</div>
	<div class="info-block">
		<span><%= post.published_on.strftime("%d-%m-%y") %></span>
	</div>
</div>