<div id="postscontainer" class="grids main">
    <div id="top-header">
<h1><%= @page.title %></h1>
 <div class="fb-like fb-like-viewer" data-href="<%= request.url %>" data-send="false" data-width="450" data-show-faces="false"></div>
<!--
    <h1>Posts#index</h1>
   
-->
</div>
    <div id="gallery_holder" class="holder">
        <%= render :partial => "album", :collection => @albums %>  
    </div>

</div>

  


<% content_for(:head) do %>
	<%# stylesheet_link_tag "ad-gallery/jquery.ad-gallery" %>
	<%# javascript_include_tag "ad-gallery/jquery.ad-gallery" %>
	<%# javascript_include_tag "galleries" %>
<% end %>
<% content_for(:script) do %>
<script>
$(function(){
    var $container = $('#gallery_holder');
    $container.imagesLoaded( function(){
        $container.masonry({
        // options
          itemSelector : '.upload',
                columnWidth : 235
        }); 
    });       
});
</script>
<% end %>
