<div class="grids">
<h1><%= "Gallery > "+@album.title %></h1>

    <div class="fb-like" data-href="<%= gallery_url(@album) %>" data-send="false" data-width="450" data-show-faces="false"></div>

    <div id="gallery_holder" class="holder">
        <%= render :partial => "upload", :collection => @album.uploads.delete_if{|x|x.blank?} %>  
    </div>

</div>

<% content_for(:script) do %>
<script>
$(function(){
    var $container = $('#gallery_holder');
    $container.imagesLoaded( function(){
        $container.masonry({
        // options
          itemSelector : '.upload',
                columnWidth : 235
        }); 
    });       
});
</script>
<% end %>
