// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "compass/css3";

body{
	background:
		#E7E7E7;
	padding:
		0;
	color:
		#878787;
	font-family:
		Georgia,'Times New Roman', Times, serif;
		
	//@include blueprint(true);
	header#top{		
		margin-bottom:
			15px;		
		background:
			white;
		border-bottom:
			1px solid #BBB;
		@include box-shadow(rgba(0, 0, 0, 0.1) 0 0 5px 0 );	
		#logo_container{
			width:
				200px;
		}
		div.lgc{

			margin:
				0px auto;		
			cursor:
				pointer;
			img{
				cursor:
					pointer;
				margin-bottom:
					10px;
			}
		}
	}
	#home{		
		nav{
			float:
				left;
			width:
				230px;
			ul{
				list-style:
					none;
				margin:
					0px auto;
				margin-bottom:
					0px;
				padding:
					5px 20px;
				li:first{
					border-top:
						0px none;
				}
				li{
					width:
						100%;
					float:
						left;
					margin:
						0px 10px 0px 0;
					padding:
						8px 0;
					border-top:
						0px none;	
					background:
						url("/assets/1x2.png") repeat-x bottom center;
					a{
						text-decoration:
							none;
						color:
							#181818;
						font-variant:
							small-caps;
						font-size:
							14px;
						text-transform:
							lowercase;
						letter-spacing:
							1px;
					}
					a:hover{
						text-decoration:
							underline;
						color:
							black;
					}
				}
			}
		}	
		section#main{
			padding:
				0px;
			background:
				transparent;
			float:
				left;
			color:
				#1b1b1b;
			/*border:
				1px solid #aaaaaa;
			@include border-radius(10px, 10px);									*/
			.grids{
				float:
					left;
				width:
					100%;					
				h1{
					padding-top:
						20px;
				}
				#post{
					.post-image{
						float:
							left;
						img{
							@include box-shadow(#BBBBBB 0 0 5px 0);	 
						}
					}
					.post-details{
						float:
							left;
						margin-left:
							20px;
						font-size:
							13px;
						h1{
							padding-top:
								0px;
							font-size:
								2em;
							letter-spacing:
								1px;
							line-height:
								1.5;
							margin-bottom:
								0.75em;
							text-transform:
								uppercase;
						}
						.post-info-view{
					  	background:
     						url("/assets/1x2.png") repeat-x top center;
     					padding:
     						20px 0 0;	
						}
						.back{
							padding:
								20px;
							background:
     						url("/assets/1x2.png") repeat-x top center;								
							a:before{
								color:
									#BBBBBB;
    						content:
    							"←";
    						padding-right:
    							5px;
							}
							a{
								text-decoration:
									none;
								color:
									#444444;
							}
							a:hover{
								color:
									#ed106a;
							}
						}
					}
				}
				#posts{
					float:
						left;
					width:
						720px;
					.post{
						float:
							left;
						width:
							218px;
						background-color: 
							#FFFFFF;
    				border:
    					1px solid #BBBBBB;
    				@include box-shadow(#BBBBBB 0 0 5px 0);	  					
     				position: 
     					relative;
     				margin-bottom:
     					15px;
     				.post-link{
     					border:
     						4px solid #FFFFFF;
    					cursor:
    						pointer;
    					display:
    						block;

     				}
     				.info-block{
     					font-variant:
     						small-caps;
     					padding:
     						8px;
     					text-transform:
     						lowercase;
     					text-align:
     						center;
     					font-size:
     						13px;
     					letter-spacing:
     						0.75px;
     					background:
     						url("/assets/1x2.png") #F2F2F2 repeat-x top center;	
     				}
					}
				}
				.span-3{
					p{
						font-size:
							13px;
						strong{
							
						}
					}
				}
			}
			h1{
				font-size:
					2em;
				margin-bottom:
					0.75em;
				line-height:
					1.5;
				text-transform:
					uppercase;
				font-family:
				 	'PT Serif', serif;
				letter-spacing:
					1px;
			}
		}
		footer{
			padding:
				10px 5px;
			width:
				940px;
			float:
				left;
			margin-top:
				15px;
			//@include border-radius(10px, 10px);	
			span.right{
				float:
					right;
				margin-right:
					10px;
			}						
			a{
				color:
					#878787;
				text-decoration:
					none;
			}	
			a:hover{
				text-decoration:
					underline;
				color:
					black;
			}
		}
	}
	
}