// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "compass/css3";
@include font-face("Pica10BTRoman", font-files("/assets/pica_10_pitch_bt-webfont.woff", woff, "/assets/pica_10_pitch_bt-webfont.otf", opentype), "/assets/pica_10_pitch_bt-webfont.eot");
@include font-face("TFForeverRegularRegular", font-files("/assets/tfforever-regular-normal-webfont-webfont.woff", woff, "/assets/tfforever-regular-normal-webfont-webfont.otf", opentype), "/assets/entypo-webfont.eot");




body{
	background:
		white;
	padding:
		0;
	color:
		#878787;
	font-family:
		Georgia,'Times New Roman', Times, serif;
		
	//@include blueprint(true);
	header#top{		

		margin:
			0px 0 15px 0;		
		padding-top:
			10px;	
		background:
			#E7E7E7;
		border-bottom:
			1px solid #BBB;
		@include box-shadow(rgba(0, 0, 0, 0.1) 0 0 5px 0 );	
		#logo_container{
			margin-top:
				30px;
			width:
				950px;
			a#logo{
				float:
					left;
				margin:
					10px 0 0 40px;
				img{
					padding-top:
						4px;
					float:
						left;
				}	
			}
			
			nav{
				float:
					right;
				width:
					590px;
				padding-bottom:
					15px;
				ul{
					list-style:
						none;
					margin:
						0px auto;
					margin-bottom:
						0px;
					padding:
						5px 20px;
					float:
						right;
					li.selected{
						border-bottom:
							2px solid black;
					}
					li:hover{
						border-bottom:
							2px solid black;
					}
					li{
						border-bottom:
							2px solid transparent;
						float:
							left;
						margin:
							0px 10px 0px 0;
						padding:
							8px 0 4px 0;
						border-top:
							0px none;	
						font-variant:
							small-caps;
						font-size:
							15px;			
						font-family:
							"TFForeverRegularRegular";			
						// background:
						// 	url("/assets/1x2.png") repeat-x bottom center;
						a{
							text-decoration:
								none;
							color:
								#181818;
							font-variant:
								small-caps;
							font-size:
								15px;
							text-transform:
								lowercase;
							letter-spacing:
								1px;
						}	
						a:hover{
							text-decoration:
								none;
						}	
						a.selected{
							
							
						}			
					}
				}
			}	
		}
		.social_header{
			width:
				920px;
			margin:
				0px auto 10px auto;
		}
		div.lgc{
			margin:
				0px auto;
			cursor:
				pointer;
			img{
				cursor:
					pointer;
				margin-bottom:
					10px;
			}
		}
		
	}
	#home{		
		nav{
			float:
				left;
			width:
				230px;
			ul.footer{
				padding:
					0 20px;
			}	
			ul{
				list-style:
					none;
				margin:
					0px auto;
				margin-bottom:
					0px;
				padding:
					5px 20px;
				float:
					left;

				li.cloud{
					font-family:
						"Pica10BTRoman";
					a{
						color:
							#878787;
						margin:
							0 6px;
						text-decoration:
							none;
					}
					.css1{
						font-size: 1.0em;
					}
					.css2{
						font-size: 1.2em;
					}
					.css3{
						font-size: 1.4em;
					}
					.css4{
					 font-size: 1.6em;
					}
					a:hover{
						text-decoration:
							none;
						color:
							black;
					}
					a.selected:before{
						color:
							#181818;
    				content:
    					"→";
    				padding-right:
    					5px;
					}

					a:hover:after{
						text-decoration:
							none;
						color:
							#181818;
						content:
  						"→";
						padding-left:
							5px;	
					}
				}
				li.footer{
					span.left{
						a{
							color:
								#878787;
							font-variant:
								normal;
							font-size:
								13px;
							letter-spacing:
								0px;
							text-transform:
								capitalize;
						}	
					}
				}
				li{
					width:
						100%;
					float:
						left;
					margin:
						0px 10px 0px 0;
					padding:
						8px 0;
					border-top:
						0px none;	
					background:
						url("/assets/1x2.png") repeat-x bottom center;
					a{
						text-decoration:
							none;
						color:
							#181818;
						font-variant:
							small-caps;
						font-size:
							14px;
						text-transform:
							lowercase;
						letter-spacing:
							1px;
					}	
					a:hover{
						text-decoration:
							underline;
					}	
					a.selected{
						
						
					}			
				}
			}
		}	
		section#main{
			padding:
				0px;
			background:
				transparent;
			float:
				left;
			color:
				#1b1b1b;

			/*border:
				1px solid #aaaaaa;
			@include border-radius(10px, 10px);									*/
			.fb-like{
				margin-bottom:
					0px;
			}
			// .grids:first-child p{
			// 	margin-top:
			// 		40px;
			// }
			.grids{
				float:
					left;
				width:
					100%;	
				margin-top:
					10px;	
				hr{
					height:
						2px;
					background:
						url("/assets/1x2.png") repeat-x;
				}			
				h1{
					
					float:
						left;
					padding-top:
						20px;
					width:
						92%;				
					font-family:
						"TFForeverRegularRegular";	
				}
				small{
					float:
						left;
					width:
						100px;
					margin-top:
						10px;
					a{
						color:
							#878787;
					}
				}
				iframe{
					background:
						url("/assets/1x2.png") repeat-x top center;
					float:
						left;
					padding-top:
						10px;				
					margin-top:
						0px;
				}
				iframe.fb_ltr{
					background:
						none;
					float:
						left;	
					padding:
						0px;
					margin:
						0px;									
				}

				form{
					background:
						url("/assets/1x2.png") repeat-x top center;
					float:
						left;
					padding-top:
						20px;
					width:
						92%;
					margin-top:
						10px;
				}
				.fb-comments{
					float:
						left;
					margin-top:
						15px;
				}
				#post{
					.post-image{
						float:
							left;				
					}
					.post-details{
						float:
							left;
						margin-left:
							20px;
						font-size:
							13px;
						h1{
							padding-top:
								0px;
							font-size:
								2em;
							letter-spacing:
								1px;
							line-height:
								1.5;
							margin-bottom:
								0.25em;
							text-transform:
								uppercase;
						}
						.left{
							color:
								#878787;	
														
							a{
								color:
									#878787;
								text-decoration:
									none;
							}	
							a:hover{
								text-decoration:
									underline;
								color:
									black;
							}
						}
						.post-info-view{
					  	background:
     						url("/assets/1x2.png") repeat-x top center;
     					padding:
     						20px 0 0;	
						}
						.back{
							padding:
								20px;
							background:
     						url("/assets/1x2.png") repeat-x top center;		
     					p{
     						margin-bottom:
     							0px;
     					}						
							a:before{
								color:
									#BBBBBB;
    						content:
    							"←";
    						padding-right:
    							5px;
							}
							a{
								text-decoration:
									none;
								color:
									#444444;
							}
							a:hover{
								color:
									#ed106a;
							}
						}
					}
				}
				#gallery_holder,#posts{
					float:
						left;
					width:
						710px;
					background:
     				url("/assets/1x2.png") repeat-x top center;							
     			padding-top:
     				10px;
					.upload, .post{
						float:
							left;
						width:
							218px;
						background-color: 
							#FFFFFF;
    				border:
    					1px solid #BBBBBB;
    				@include box-shadow(#BBBBBB 0 0 5px 0);	  					
     				position: 
     					relative;
     				margin-bottom:
     					15px;
     				a.post-link{
     					border:
     						4px solid #FFFFFF;
    					cursor:
    						pointer;
    					display:
    						block;
    					float:
    						left;
							img{
									@include box-shadow(#BBBBBB 0 0 5px 0);	
								float:
									left;
							}
							    						
     				}
     				.info-block{
     					font-variant:
     						small-caps;
     					padding:
     						8px;
     					text-transform:
     						lowercase;
     					text-align:
     						center;
     					font-size:
     						13px;
     					letter-spacing:
     						0.75px;
     					background:
     						url("/assets/1x2.png") #F2F2F2 repeat-x top center;	
     					float:
     						left;
     					width:
     						202px;
     				}
     				.info-comments{
	     				background:
	     					url("/assets/1x2.png") #f2f2f2 repeat-x top center;		
	     				float:
	     					left;
							padding:
     						8px;	     					
     				}
					}
				}
				.span-4{
					p{
						font-size:
							13px;
						font-family:
							"Pica10BTRoman";	
						strong{
							
						}
					}
				}
			}
			h1{
				font-size:
					2em;
				margin-bottom:
					0.25em;
				line-height:
					1.5;
				text-transform:
					uppercase;
				font-family:
				 	'PT Serif', serif;
				letter-spacing:
					1px;
			}
		}
		footer{
			padding:
				0px 5px 0px 0;
			margin-bottom:
				15px;
			width:
				940px;
			float:
				left;
			margin-top:
				0px;
			//@include border-radius(10px, 10px);	
			span.right{
				float:
					right;
				margin-right:
					10px;
				padding-bottom:
					15px;
			}						
			a{
				color:
					#878787;
				text-decoration:
					none;
			}	
			a:hover{
				text-decoration:
					underline;
				color:
					black;
			}
		}
	}
	
}