// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "compass/css3";
@include font-face("Pica10BTRoman", font-files("/assets/pica_10_pitch_bt-webfont.woff", woff, "/assets/pica_10_pitch_bt-webfont.otf", opentype), "/assets/pica_10_pitch_bt-webfont.eot");
@include font-face("TFForeverRegularRegular", font-files("/assets/tfforever-regular-normal-webfont-webfont.woff", woff, "/assets/tfforever-regular-normal-webfont-webfont.otf", opentype), "/assets/entypo-webfont.eot");




body{
	background:
		white;
	padding:
		0;
	color:
		#878787;
	font-family:
		Georgia,'Times New Roman', Times, serif;
		
	//@include blueprint(true);
	p{
		font-size:
			13px;
		font-family:
			"Pica10BTRoman";	
		strong{
			
		}
					}
	#breadcrumbs{
		border:
			0px none;
		font-family:
			"Pica10BTRoman";			
		font-size:
			15px;
		span{
			padding:
				0 20px;
			text-decoration:
				none;
			color:
				black;
			a{
				color:
					#878787;
				text-decoration:
					none;
			}
			a:hover{
				color:
					black;
				text-decoration:
						none;	
			}
		}
	}
	#home.container{		
		border-top:
			0px none;
		background:
			url(/assets/transparent.png) repeat;
		color:
			white;
		margin:
			50px auto;	
		header#top{		
			margin:
				0px 0 15px 0;		
			padding-top:
				0px;	
			background:
				transaprent;
			// border-bottom:
			// 	1px solid #BBB;
			// @include box-shadow(rgba(0, 0, 0, 0.1) 0 0 5px 0 );	
			#logo_container{
				width:
					50%;
				float:
					left;
				a#logo{
					float:
						left;
					margin:
						10px 0 0 40px;
					img{
						padding-top:
							0px;
						float:
							left;
					}	
				}
				
				nav{
					float:
						right;
					width:
						50%;
					padding-bottom:
						15px;
					ul{
						list-style:
							none;
						margin:
							0px auto;
						margin-bottom:
							0px;
						padding:
							5px 20px;
						float:
							right;
						li.selected{
							border-bottom:
								2px solid black;
						}
						li:hover{
							border-bottom:
								2px solid black;
						}
						li{
							border-bottom:
								2px solid transparent;
							float:
								left;
							margin:
								0px 10px 0px 0;
							padding:
								8px 0 4px 0;
							border-top:
								0px none;	
							font-variant:
								small-caps;
							font-size:
								15px;			
							font-family:
								"TFForeverRegularRegular";			
							// background:
							// 	url("/assets/1x2.png") repeat-x bottom center;
							a{
								text-decoration:
									none;
								color:
									#181818;
								font-variant:
									small-caps;
								font-size:
									15px;
								text-transform:
									lowercase;
								letter-spacing:
									1px;
							}	
							a:hover{
								text-decoration:
									none;
							}	
							a.selected{
								
								
							}			
						}
					}
				}	
			}
			.social_header{
				width:
					920px;
				margin:
					0px auto 10px auto;
			}
			div.lgc{
				margin:
					0px auto;
				cursor:
					pointer;
				img{
					cursor:
						pointer;
					margin-bottom:
						10px;
				}
			}
		}			
		nav#main{
			float:
				right;
			width:
				50%;
			ul{
				list-style:
					none;
				margin:
					0px auto;
				margin-bottom:
					0px;
				padding:
					5px 20px;
				float:
					right;
				li{
					float:
						left;
					margin:
						0px 10px 0px 0;
					padding:
						8px 0;
					border-top:
						0px none;	
					font-family:
						"TFForeverRegularRegular";							
					// background:
					// 	url("/assets/1x2.png") repeat-x bottom center;
					a{
						text-decoration:
							none;
						color:
							white;
						font-variant:
							small-caps;
						font-size:
							16px;
						text-transform:
							lowercase;
						letter-spacing:
							1px;
					}	
					a:hover{
						text-decoration:
							none;
						border-bottom:
							2px solid white;
					}	
					a.selected{
						border-bottom:
							2px solid white;						
					}			
				}
			}
		}	
		section#main{
			padding:
				0px;
			background:
				transparent;
			float:
				left;
			color:
				transparent;
			/*border:
				1px solid #aaaaaa;
			@include border-radius(10px, 10px);									*/
			.fb-like{
				margin-bottom:
					0px;
				margin-left:
					0px;
				float:
					left;
			}
			// .grids:first-child p{
			// 	margin-top:
			// 		40px;
			// }
			#postscontainer.main{
				width:
					710px;
				background:
					white;
				h1{
					color:
						#181818;
					margin:
						20px 20px 5px 20px;
				}
				.fb-like{
					margin-left:
						20px;
				}
			}
			.grids{
				float:
					left;
				width:
					930px;

				margin:
					0px 10px 10px 10px;

				color:	
					#181818;	
				.fb-like-viewer{
					width:
						860px;
					margin:
						0 40px 20px 40px;
				}	
				.fb-like-contact{

					margin:
						0 0px 0px 40px;
				}	
				p{
					padding:
						0 40px;	
				}
				hr{
					height:
						2px;
					// background:
					// 	url("/assets/1x2.png") repeat-x;
				}			
				h1{
					color:	
						white;
					font-family:
						"TFForeverRegularRegular";						
				}
				small{
					float:
						left;
					width:
						100px;
					margin-top:
						10px;
					a{
						color:
							white;
					}
				}
				iframe{
					// background:
					// 	url("/assets/1x2.png") repeat-x top center;
					float:
						left;
					padding-top:
						10px;				
					margin-top:
						0px;
				}
				iframe.fb_ltr{
					background:
						none;
					float:
						left;	
					padding:
						0px;
					margin:
						0px;									
				}

				form{
					// background:
					// 	url("/assets/1x2.png") repeat-x top center;
					float:
						left;
					padding-top:
						20px;
					width:
						92%;
					margin-top:
						10px;
				}
				.fb-comments{
					float:
						left;
					margin:
						0px 0 10px 10px;
					padding:
						5px;
					background:
						white;
				}
				#post{
					float:
						left;
					margin-left:
						10px;
					.post-image{
						float:
							left;	
						margin-top:
							0px;
						margin-right:
							5px;		
					}
					.post-details{
						float:
							right;
						margin-left:
							0px;
						font-size:
							13px;
						background:
							white;
						color:	
							#181818;
						padding:
							10px 20px;
						width:
							240px;
						h1{
							padding-top:
								0px;
							font-size:
								2em;
							letter-spacing:
								1px;
							line-height:
								1.5;
							margin-bottom:
								0.25em;
							text-transform:
								uppercase;
							margin:
								0px;
							color:
								#181818;
						}
						p{
							margin-left:
								0px;
							padding:
								0px;
						}
						.left{
							color:
								#878787;	
														
							a{
								color:
									#878787;
								text-decoration:
									none;
							}	
							a:hover{
								text-decoration:
									underline;
								color:
									black;
							}
						}
						.post-info-view{
					  	// background:
     			// 			url("/assets/1x2.png") repeat-x top center;
     					padding:
     						0px 0 0;	
						}
						.back{
							padding:
								20px;
							// background:
     		// 				url("/assets/1x2.png") repeat-x top center;		
     					p{
     						margin-bottom:
     							0px;
     					}						
							a:before{
								color:
									#BBBBBB;
    						content:
    							"←";
    						padding-right:
    							5px;
							}
							a{
								text-decoration:
									none;
								color:
									#444444;
							}
							a:hover{
								color:
									#ed106a;
							}
						}
					}
				}
				#gallery_holder,#posts{
					float:
						left;
					width:
						710px;
					margin-left:
						10px;
					// background:
     // 				url("/assets/1x2.png") repeat-x top center;							
     			padding-top:
     				10px;
					.upload, .post{
						float:
							left;
						width:
							218px;
						background-color: 
							#FFFFFF;
    				border:
    					1px solid #BBBBBB;
    				@include box-shadow(#BBBBBB 0 0 5px 0);	  					
     				position: 
     					relative;
     				margin-bottom:
     					15px;
     				a.post-link{
     					border:
     						4px solid #FFFFFF;
    					cursor:
    						pointer;
    					display:
    						block;
    					float:
    						left;
							img{
									@include box-shadow(#BBBBBB 0 0 5px 0);	
								float:
									left;
							}
							    						
     				}
     				.info-block{
     					font-variant:
     						small-caps;
     					padding:
     						8px;
     					text-transform:
     						lowercase;
     					text-align:
     						center;
     					font-size:
     						13px;
     					letter-spacing:
     						0.75px;
     					background:
     						url("/assets/1x2.png") #F2F2F2 repeat-x top center;	
     					float:
     						left;
     					width:
     						202px;
     					color:
     						#181818;
     				}
     				.info-comments{
	     				// background:
	     				// 	url("/assets/1x2.png") #f2f2f2 repeat-x top center;		
	     				float:
	     					left;
							padding:
     						8px;	

     				}
					}
				}
				.span-12{
					h1{
						margin-left:
							40px;
						margin-top:	
							20px;
						color:
							#181818;
					}
				}
				.span-10{
					padding-left:
						40px;
					color:
						#181818;
				}

				.span-10,.span-4{
					p{
						font-size:
							13px;
						font-family:
							"Pica10BTRoman";	
						strong{
							
						}
					}
				}
			}
			h1{
				font-size:
					2em;
				margin-bottom:
					0.25em;
				line-height:
					1.5;
				text-transform:
					uppercase;
				font-family:
				 	'PT Serif', serif;
				letter-spacing:
					1px;
			}
		}
		footer{
			padding:
				0px 5px 0px 0;
			margin-bottom:
				15px;
			width:
				940px;
			float:
				left;
			margin-top:
				0px;
			//@include border-radius(10px, 10px);	
			span.right{
				float:
					right;
				margin-right:
					10px;
				padding-bottom:
					15px;
			}						
			a{
				color:
					#878787;
				text-decoration:
					none;
			}	
			a:hover{
				text-decoration:
					underline;
				color:
					black;
			}
		}
	}
	
}